body {
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    user-select: none;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

button {
    border: solid 1px #9ca3af;
    border-radius: 5px;
    padding: 8px 16px 8px 16px;
    background-color: ghostwhite;
}

button:hover {
    border: solid 1px #6495ed;
    background-color: aliceblue;
    cursor: pointer;
}

.hidden {
    display: none;
}

.big-text {
    font-size: 26px;
    font-weight: bold;
}

.small-text {
    font-size: 14px;
}

.icon-img {
    height: 50px;
}

.center-child {
    justify-content: center;
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    flex-direction: row;
}

.gap-16 {
    gap: 16px;
}

/*main-layout*/
.main-layout-content {
    position: relative;
    background-color: #e5e7eb;
    border: solid 1px #9ca3af;
    border-radius: 10px;
    padding: 16px;
    min-width: 600px;
}

.settings-button {
    position: absolute;
    top: 16px;
    right: 16px;
}

/*settings*/
.settings-form-button {
    width: fit-content;
    place-self: center;
}

/*number-input*/
.number-input {
    width: 150px;
    padding: 4px 4px 4px 16px;
    border: solid 1px #9ca3af;
    border-radius: 8px;
    margin-right: 35px;
}

/*slider-input*/
.slider-input-container {
    display: flex;
    gap: 8px;
}

/*dashboard*/
.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.left-panel-container {
    gap: 16px;
    margin-right: 32px;
}

/*info-panel-element*/
.info-panel-element-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: solid 1px #a0aec0;
    /*border-radius: 5px;*/
}

.info-panel-element-info-container {
    place-content: center;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 8px;
}

.info-panel-element-icon {
    background-color: #a0aec0;
    padding: 8px 8px 8px 8px;
    display: flex;
    place-content: center;
}
